.gralContainer{
    background-color: #43ED3F;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}
.formContainer{
    padding: 20px;
    width: fit-content;
}
.cardsForm{
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: baseline;
    background: none;
}
select{
    width: fit-content;
}
.createBtn{
    width: fit-content;
}