.card{
    display: flex;
    border: solid 1px black;
    flex-direction: column;
    margin: 0;
    padding: 10px 20px 20px 20px;
    background-color: aquamarine;
}
.priorityDiv, .textDiv, .statusDiv{
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}
.deleteButtonContainer{
    display: flex;
    align-self: flex-end;
    margin-bottom: 20px;
}
.close {
    border-radius: 100%;
    padding: 0px 15px 0px 15px;
    background-color: transparent;
    font-size: 30px;
    color: #428136;
}
.close:hover {
    opacity: 1;
    /* background-color: rgb(1, 134, 23); */
    border: transparent;
    color: #333;
}
.doneButton{
    background-color: transparent;
    color: green;
    font-size: 20px;
    font-weight: bold;
}
.doneButton:hover{
    background-color: green;
    color: white;
    border-color: transparent;
}